extends layout

block content
  h1.title My List of Books
  div(class="container")
    form(action="/books/search", method="POST")
      input(type="text", name="search", placeholder="Search for a book...")
      input(type="submit", value = "Search")
    .flex  
      p
        a(class="mybutton", href="/books") Show All Books
      p
        a(class="mybutton", href="/books/new") Create New Book
    if books.length
      table(width="100%")
        thead
          tr
            th Title
            th Author
            th Genre
            th Year
        tbody
          each book in books
            tr
              td
                a(href=`/books/${book.id}`)= book.title
              td= book.author
              td= book.genre
              td= book.year
    br
    if (pages>1)
      div(style="float:right")
        - var n = 1
        while n<= pages
          a(class="button pagination" href="/books/page/" + n)= n++

    if (books<=0)      
      div(class="error") We could not find any books  

